#cardList{
  text-align: center;
  margin: 5%;
}

.card{
  width: 15%; 
  height: auto;
  margin: -2% -1%;
}

#topSection{
  text-align: center;
}
.topCard{
  width: 20%;
  margin: 1%;
}
.backCard{
  width: 20%;
  margin: 1%;
}

.hide{
  display: none;
}

#colorPicker button{
  width: 10%;
  font-size: 300%;
  margin: 2%;
}

.blue{
  background-color: #C7F8FF;
}
.red{
  background-color: #FF9494;
}
.green{
  background-color: #C8F9E4;
}
.yellow{
  background-color: #F3ECC9;
}