body {
  background-color: lightblue;
}

#logInSection{
  text-align: center;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  border: lightslategray 20px solid;
  border-radius: 20px;
  font-size: xx-large;
}

#logInSection a{
  text-decoration: none;
  color: black;
}

#logInSection a img{
  width: 300px;
}

#failedLog{
  color: red;
}