
<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="icon" type="image/x-icon" href="/images/cards/logo.png">
  </head>
  <body>
    <div id="logInSection">
      <h1>Social Authentication</h1>
      <p>Login with Google:</p>
      <a href="/auth/google"><img src="/images/loginbutton.png"></a>
    </div>
  </body>
</html> 