<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="icon" type="image/x-icon" href="/images/cards/logo.png">
    <title>Uno</title>
  </head>
  <body>
    <!--Use a flex box for the entire game push cards and decks to left and other players to right-->
    <!--
    -->
    <div id="lobbySection" class="">
      <h1>Waiting Lobby</h1>
      <h4 id="numReady"></h4>
      <p id="readyButton">Ready Up</p>
    </div>

    <div id="board" class="lightblue, hide">
      <div id="topSection">
        <div id="otherPlayers"></div>
        <div id="decks">
          <img id="currentCard" src="" class="topCard" />
          <img id="backCard" class="topCard" src="/images/cards/back.png">
          <div id="colorPicker" class="hide">
            <button id="chooseRed" class="red">red</button>
            <button id="chooseBlue" class="blue">blue</button>
            <button id="chooseGreen" class="green">green</button>
            <button id="chooseYellow" class="yellow">yellow</button>
          </div>
        </div>
      </div>
      <div id="cardList"></div>
    </div>
    <script src="../socket.io/socket.io.js"></script>
    <script>
      console.log(window.location.pathname);
      var socket = io();
      var number = -1;
    </script>
    <script>
      var cid;
      var lobbySection = document.getElementById("lobbySection");
      var board = document.getElementById("board");
      var backCard = document.getElementById("backCard");
      var colorPicker = document.getElementById('colorPicker');
      var topCard = document.getElementById("currentCard");
      var readyButton = document.getElementById("readyButton");
      var numReady = document.getElementById('numReady');
      var colorPicker = document.getElementById('colorPicker');
      var otherPlayers = document.getElementById('otherPlayers');
      var decks = document.getElementById('decks');
      var cardList = document.getElementById('cardList');
    </script>
    <script>
      backCard.addEventListener('click', function(e){
        socket.emit('takeCard', number);
      });
      for(var i = 0; i < colorPicker.childNodes.length; i ++){
        colorPicker.childNodes[i].addEventListener('click', function(){
          socket.emit('selectedColor', this.id.slice(6).toLowerCase());
          colorPicker.classList.add('hide');
        });
      }
      socket.on('pickColor', function(num){
        if(number == num){
          colorPicker.classList.remove('hide');
          //document.getElementById('colorPicker').classList.remove('hide');
        }
      });
      socket.on('number', function(num){
        if(number == -1)
          number = num;
      });
      socket.on('cardList', function(players, names){
        loadCards(players[number]); 
        loadOtherPlayers(players, names);    
      });
      socket.on('currentCard', function(cid, turn){
        showCurrentCard(cid);    
        //document.getElementById('board').classList.remove('lightgreen', 'lightblue');
        board.classList.remove('lightgreen', 'lightblue');
        if(turn == number){
          //document.getElementById("board").classList.add('lightgreen');
          board.classList.add('lightgreen');
        }
        else{
          //document.getElementById("board").classList.add('lightblue');
          board.classList.add('lightblue');
        }
      });
      socket.on('reset', function(){
        //may need resets later
      });
      function loadOtherPlayers(players, names){
        otherPlayers.innerHTML = ' ';
        for(var i = 0; i < players.length; i ++){
          if(i != number){
            var d = document.createElement('div');
            var p = document.createElement('h1');
            p.innerHTML = names[i] + ' <br><br> ' + players[i].length;
            var img = document.createElement('img');
            img.src = '/images/cards/altback.png';
            d.appendChild(p);
            d.appendChild(img);
            d.classList.add('stack');
            otherPlayers.appendChild(d);
          }
        }
      }
      function showCurrentColor(c){
        decks.classList.remove('red', 'green', 'blue', 'yellow');
        decks.classList.add(c);
      }
      function reset(){
        cardList.innerHTML = ' ';
      }
      function showCurrentCard(c){
        if(c.type == 'normal')
          cid = c.color + '' + c.number;
        else if(c.type == '+4' || c.type == 'color')
          cid = c.type;
        else
          cid = c.color + c.type;
        topCard.src = '/images/cards/' + cid + '.png';
        topCard.id = cid;
        showCurrentColor(c.color);
      }
      function loadCards(cards){
        reset();
        for (var i = 0; i < cards.length; i ++){
          var c = cards[i];
          if(c.type == 'normal')
            cid = c.color + c.number;
          else if(c.type == '+4' || c.type == 'color')
            cid = c.type;
          else
            cid = c.color + c.type;
          var card = document.createElement("img");
          card.src = '/images/cards/' + cid + '.png';
          card.id = cid;
          card.classList.add('card');
          cardList.appendChild(card);
          card.addEventListener('click', function(e){
            socket.emit('cardClicked', this.id, number);
          });
        }
      }
    </script>
    <script>
      readyButton.addEventListener('click', function(e){
        socket.emit('readied', number);
      });
      socket.on('number', function(num){
        if(number == -1)
          number = num;
      });
      socket.on('logInFailiure', function(){
        if (number == -1){
          socket.disconnect();
          window.location.href = '/authFail';
        }
      })
      socket.on('begingame', function(){
        beginGame();
      });
      socket.on('playerreadied', function(allready){
        numReady.innerHTML = '' + allready[0] + ' / ' + allready[1];
      })
      socket.on('minimumplayers', function(allready){
        numReady.innerHTML = '' + allready[1] + ' / ' + allready[2] + '<br />' + 'Minimum Player Saturation Not Yet Reached';
      })
      function beginGame(){
        lobbySection.classList.add('hide');
        board.classList.remove('hide');
      }
    </script>
    <script>
      socket.on('rollcall', function(){
        socket.emit('rollpresent', number);
      })
    </script>
  </body>
</html>