<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="icon" type="image/x-icon" href="/images/cards/logo.png">
    <title>Uno</title>
  </head>
  <body>
    <!--Use a flex box for the entire game push cards and decks to left and other players to right-->
    <div id="board" class="lightblue">
      <div id="topSection">
        <div id="otherPlayers"></div>
        <div id="decks">
          <img id="currentCard" src="" class="topCard" />
          <img id="backCard" class="topCard" src="/images/cards/back.png">
          <div id="colorPicker" class="hide">
            <button id="chooseRed" class="red">red</button>
            <button id="chooseBlue" class="blue">blue</button>
            <button id="chooseGreen" class="green">green</button>
            <button id="chooseYellow" class="yellow">yellow</button>
          </div>
        </div>
      </div>
      <div id="cardList">

      </div>
    </div>
    <script src="../socket.io/socket.io.js"></script>
    <script>
      console.log(window.location.pathname);
      var socket = io();
      var cid;
      var number = -1;
      var backCard = document.getElementById("backCard");
      backCard.addEventListener('click', function(e){
        socket.emit('takeCard', number);
      });
      var colorPicker = document.getElementById('colorPicker');
      for(var i = 0; i < colorPicker.childNodes.length; i ++){
        colorPicker.childNodes[i].addEventListener('click', function(){
          socket.emit('selectedColor', this.id.slice(6).toLowerCase());
          colorPicker.classList.add('hide');
        });
      }
      var topCard = document.getElementById("currentCard");
      socket.on('pickColor', function(num){
        if(number == num){
          document.getElementById('colorPicker').classList.remove('hide');
        }
      });
      socket.on('number', function(num){
        if(number == -1)
          number = num;
      });
      socket.on('cardList', function(players, names){
        loadCards(players[number]); 
        loadOtherPlayers(players, names);    
      });
      socket.on('currentCard', function(cid, turn){
        showCurrentCard(cid);    
        document.getElementById('board').classList.remove('lightgreen', 'lightblue');
        if(turn == number){
          document.getElementById("board").classList.add('lightgreen');
        }
        else{
          document.getElementById("board").classList.add('lightblue');
        }
      });
      socket.on('reset', function(){
        reset();
      });
      function loadOtherPlayers(players, names){
        document.getElementById('otherPlayers').innerHTML = ' ';
        for(var i = 0; i < players.length; i ++){
          if(i != number){
            var d = document.createElement('div');
            var p = document.createElement('h1');
            p.innerHTML = names[i] + ' <br><br> ' + players[i].length;
            var img = document.createElement('img');
            img.src = '/images/cards/altback.png';
            d.appendChild(p);
            d.appendChild(img);
            d.classList.add('stack');
            document.getElementById('otherPlayers').appendChild(d);
          }
        }
      }
      function showCurrentColor(c){
        document.getElementById('decks').classList.remove('red', 'green', 'blue', 'yellow');
        document.getElementById('decks').classList.add(c);
      }
      function reset(){
        document.getElementById('cardList').innerHTML = ' ';
      }
      function showCurrentCard(c){
        if(c.type == 'normal')
          cid = c.color + '' + c.number;
        else if(c.type == '+4' || c.type == 'color')
          cid = c.type;
        else
          cid = c.color + c.type;
        topCard.src = '/images/cards/' + cid + '.png';
        topCard.id = cid;
        showCurrentColor(c.color);
      }
      function loadCards(cards){
        reset();
        for (var i = 0; i < cards.length; i ++){
          var c = cards[i];
          if(c.type == 'normal')
            cid = c.color + c.number;
          else if(c.type == '+4' || c.type == 'color')
            cid = c.type;
          else
            cid = c.color + c.type;
          var card = document.createElement("img");
          card.src = '/images/cards/' + cid + '.png';
          card.id = cid;
          card.classList.add('card');
          document.getElementById('cardList').appendChild(card);
          card.addEventListener('click', function(e){
            socket.emit('cardClicked', this.id, number);
          });
        }
      }
    </script>
  </body>
</html>