#cardList{
  text-align: center;
  margin: 5%;
}

.card{
  width: 15%; 
  height: auto;
  margin: -2% -1%;
}

#topSection{
  text-align: center;
  margin: 7%;
  border: lightslategray 20px solid;
  border-radius: 20px;
}
.topCard{
  width: 20%;
  margin: 1%;
}
.hide{
  display: none;
}

#colorPicker button{
  width: 10%;
  font-size: 300%;
  margin: 2%;
}

.blue{
  background-color: #C7F8FF;
}
.red{
  background-color: #FF9494;
}
.green{
  background-color: #C8F9E4;
}
.yellow{
  background-color: #F3ECC9;
}

body {
  background-color: lightblue;
}

#otherPlayers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.stack{
  display: grid;
  grid-template-columns: 1fr;
}
.stack *{
  grid-row-start: 1;
  grid-column-start: 1;
}
.stack{
  margin: 1%;
}
.stack img{
  z-index: 0;
  width: 100px;
}
.stack h1{
  z-index: 1;
  margin: auto;
  color: lightgray;
  font-size: 100%;
  line-height: 200%;
} 

#title{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 100px;
}